@media only screen and (min-width: 32.5em) {
    body{
        font-family: 'Roboto Mono', monospace;
        width: 1000px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 9em;
        border-radius: 10%;
        margin-right: 15px;
    }
}