@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F7FF;
    padding: 0;
    
}

/*NAV section start*/
nav{
    background-color: #9F7E69;
    
    
}
nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul{
    margin: 0;
    padding: 0;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: .8rem 2vw;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-btn{
    
    border: none;
    font-size: 2rem;
    background-color: transparent;
    padding: 0;
    margin: 0.2rem 2vw;
    
}
.nav-btn:hover{
    font-size: 2.08rem;
}
.active a{
    background-color: rgba(0, 0, 0, 0.2);

}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
  
}
#hambuger-btn span:nth-child(1){
    display: block;
}
#hambuger-btn span:nth-child(2){
    display: none;
}
#hambuger-btn.open span:nth-child(1){
    display: none;
}
#hambuger-btn.open span:nth-child(2){
    display: block;
    transform: rotate(90deg);
    
}
/*NAV section end*/

/*Header start*/
header{
    box-sizing: border-box;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
}

#logo img{
    height: 3rem;
    box-sizing: border-box;
    
}
#facebook img{
    height: 1.8rem;
    box-sizing: border-box;
    padding: 3px;
    
}
#linkedIn img{
    height: 1.8rem;
    box-sizing: border-box;
    padding: 3px;
    
}
.header-date #header-date-id{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}
.header-date{
    padding: 10px;
}
#motto{
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.icons{
    display: flex;
    justify-content: space-between;
}
/*Header end*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*Main Start*/
.join, #spotlight-3{
    display: none;
}
#weather-icon-wrapper{
    display: flex;
    font-size: 30px;
    justify-content: center;
}
#clouds{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    font-weight: 800;
}
.align-left{
    text-align: left;
}
/*
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/wdd230-250.jpg");
    background-repeat: no-repeat;
    
    height: 50vw; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 0;
    margin: 0;
    
    
    }*/
.hero-banner picture img{
    
    padding: 0;
    margin: 0 auto;
    width: 100%;
    
    z-index: 1;
    box-sizing: border-box;
}

h1{
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    
    top: 5vw;
    font-weight: 700;
    text-shadow: #333;
    z-index: 2;
    top: 15rem;
    
}

.hero-banner button{
    background-color: #9F7E69;
    border-radius: 10px;
    width: 7.5rem;
    height: 2rem;
    margin: 2vw;
    
    
       
}
.hero-banner button a{
    display: block;
    text-decoration: none;
    color: #B8B8FF;
    font-size: small;
    
}
.event{
    background-color: #F8F7FF;
    text-align: center;
}
h2{
    color: #9381FF;
}
#book-name{
    font-weight: 600;
}
.weather{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    background-color: #F8F7FF;
}
.news-release{
    background-color: #F8F7FF;
    text-align: center;
}
.spotlights{
    background-color: #F8F7FF;
    text-align: center;
}
.spotlights div :nth-child(4){
    padding: 0;
    margin: 0;
}
.spotlights img{
    height: 100px;
}
#weather-widget{
    box-sizing: border-box;
    padding-right: 15px;
}

/*Discover*/
.discover{
    margin: 2% 10%;
    text-align: center;
}
picture img{
    width: 100%;
}
.demographics{
    
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    justify-content: center;
    align-items: center;
}
#demo{
    font-size: 1.9rem;
    margin-top: 7%;
    box-sizing: border-box;
}
.message{
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    border-radius: 10px;
    font-size: 1.6rem;

}
/*Join*/

.form_title {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu', sans-serif;;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: .5rem 2%;
    margin: 0 auto;
    margin-top: 2%;
}
legend {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0 .5rem;
}
label.top {
    display: block;
    padding-top: 1.2rem;
    color: black;
    font-size: .8rem;
}
label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: .75rem;
    width: 80%;
    max-width: 24rem;
    background-color: #e4e1e1;
}
label.top input:required {
    border-left: red solid 5px;
}
label.top input:required:valid {
    border-left: #51c58f solid 5px;
}
label.chose {
    display: block;
    padding-top: .5rem;
    font-size: 1rem;
    width: 90%;
}
input.submitbtn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: none;
    background-color: #9F7E69;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
textarea {
    width: 100%;
    resize: none;
    background-color: #F8F7FF;
}
input.submitbtn:hover {
    background-color: #51c58f;
}
.membership_container {
    display: none;
    
}
.thanks{
    font-family: 'Ubuntu', sans-serif;
}

.thanks p{
    text-align: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    color: black;
}
#submitted{
    text-align: center;
    
}
/*Main End*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*Footer Start*/
footer{
    display: block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    padding: 5px;
    margin: auto;
    background-color: #B8B8FF;
}
.footer-logo img{
    height: 6rem;
}
iframe{
    width: 90vw;
    height: auto;
}
/*Footer End*/