@media only screen and (min-width: 35rem){
    .logo{
        height: 60px;
    }
    h1{
        font-size: 62px;
    }
    .reception-services{
        grid-template-columns: 1fr 1fr;
    }

    .full-page img{
        width: auto;
    }
    .section-home-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #weather-widget{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    article {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        
    }
    .list section img {
        width: 3.2rem;
        
    }
    /*Medium*/
    .wire div img{
        width: 350px;
    }
}