*{
    margin: 0 auto;
    padding: 0;
    
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo{
    height: 50px;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F05D5E;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size: 20px;
}
.text-box p{
    margin: 10px 0 40 px;
    font-size: 14px;
    color: white;
}
.reservation-hero{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    margin-top: 15px;
}
.reservation-hero:hover{
    border: 1px solid #F05D5E;
    background: #F05D5E;
    transition: 1s;
}
@media(max-width: 64rem){
    .nav-closed{
        display: none;
    }
    .open{
        display: flex;
        flex-direction: column;
    }
    .social-media{
        display: none;
    }
}

#hambuger-btn{
    background: transparent;
    
    border: none;
}
#hambuger-btn span{
  
    font-size: 40px;
}
.active{
    background-color: rgba(0,0,0,0.2);
}
.social-media img{
    height: 20px;
}
/*Footer*/
#maps{
    width: 70vw;
    margin: auto;
}
#maps iframe{
    width: 100%;
}
footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    border-top: 2px solid #F05D5E;
}
main{
    width: 80vw;
    
    box-sizing: border-box;
    margin: auto;
    
}

/*Join*/

.form_title {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu', sans-serif;;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: .5rem 2%;
    margin: 0 auto;
    margin-top: 2%;
}
legend {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0 .5rem;
}
label.top {
    display: block;
    padding-top: 1.2rem;
    color: black;
    font-size: .8rem;
}
label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: .75rem;
    width: 80%;
    max-width: 24rem;
    background-color: #e4e1e1;
}
label.top input:required {
    border-left: red solid 5px;
}
label.top input:required:valid {
    border-left: #51c58f solid 5px;
}
label.chose {
    display: block;
    padding-top: .5rem;
    font-size: 1rem;
    width: 90%;
}
input.submitbtn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: none;
    background-color: #9F7E69;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
textarea {
    width: 100%;
    resize: none;
    background-color: #F8F7FF;
}
input.submitbtn:hover {
    background-color: #51c58f;
}

.full-page{
    height: 70vh;
    text-align: center;
    justify-content: center;
    
}